.container {
    width: 100%;
    display: flex;
}

.budget-app {
    background-color: azure;
}

.Budget_And_Expenses {
    width: 70%;
    display: flex;
}

.budget_title, .expense_title, .balance_title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.budget_icon, .expense_icon, .balance_icon {
    display: block;
    margin: auto;
    width: 50px;
}

.budget_value, .expense_value, .balance_value {
    font-size: 30px;
}
