button {
    margin: 10px 0 10px 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

form {
    width: 100%;
}

.budget-form-container {
    width: 30%;
}

input {
    display: block;
    margin: 5px 0 0 10px;
}

.div_form_budget_info {
    margin-top: 10px;
}


.budget_form {
    margin-bottom: 10px;
    border: 3px solid green;
}

.budget_form input, .budget_form button {
    border: 1px solid green;
}

.budget_form button {
    color: green;
}

label {
    margin-left: 10px;
}

@media only screen and (max-width: 480px) {

    .budget-form-container {
        width: 100%;
    }

}